@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ff-secondary: "Open Sans", sans-serif;
    --ff-primary: "Noto Serif", serif;

    --fc-main: #FFFFFF;
    --fc-secondary: #000000;

    --bc-main: #35481C;

    --fw-lighter: 300;
    --fw-normal: 600;
    --fw-bolder: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

/* ------------- GENERAL STYLING ------------- */

body {
    font-family: var(--ff-primary);
}

header {
    font-family: var(--ff-secondary);
}

.first {
    background: url('../images/NEVAGO_HOTEL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    min-height: 100vh;
    padding-inline: 25px;
}


.last-el {
    background: url('../images/last.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block-padding {
    padding-block: 15px;
}

.even-columns {
    display: grid;
    gap: 2em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.even-columns > div {
    max-width: 500px;
}

.even-columns > div img {
    max-height: 400px;
    max-width: 100%;
    transition: scale 1s ease;
}

.even-columns > div img:hover {
    scale: 1.1;
}

/* ------------- BODY STYLING ------------- */
.navbar {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 25px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-inline: 15px;
}

.navbar a {
    position: relative;
    color: var(--fc-main);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: var(--fw-normal);
}

.navbar a::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--fc-main);
    transition: .5s ease-in-out;
}

.navbar a:hover::before {
    width: 100%;
}

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-intro {
    text-align: center;
    color: var(--fc-main);
}

.main-intro h1 {
    font-size: 75px;
    font-weight: var(--fw-bolder);
    color: var(--fc-main);
    text-transform: uppercase;
}

.main-intro p {
    font-size: 45px;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-lighter);
    color: var(--fc-main);
}

.even-columns > div {
    font-family: var(--ff-secondary);
    color: var(--fc-secondary);
}

.even-columns > div h2 {
    font-size: 30px;
    font-weight: var(--fw-bolder);
}

.even-columns > div p {
    font-size: 20px;
}

.last > div {
    max-width: 350px;
    padding: 40px 20px;
    border-radius: 25px;
    background-color: #35481C;
    transition: transform .5s ease-out;
}

.last > div:hover {
    background-color: #65794c;
    transform: translateY(-50px);
}

.last > div p {
    font-size: 20px;
    color: var(--fc-main);
}

@media (width <= 1080px) {
    .main-intro {
        padding: 0;
    }

    .main-intro h1 {
        font-size: 35px;
        text-transform: uppercase;
    }

    .main-intro p {
        font-size: 25px;
    }

    .even-columns {
        gap: 5rem;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }

    .last > div {
        max-width: 650px;
    }

    .last > div p {
        font-size: 24px;
    }
}

@media (width <= 800px) {
    .even-columns {
        gap: 1rem;
    }

    .last > div {
        max-width: 100%;
    }

    .last > div p {
        font-size: 20px;
    }
}

@media (width <= 472px) {
    .navbar a {
        font-size: 15px;
    }
}