@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ff-main: "Open Sans", sans-serif;
    ;
    --ff-serif: "Noto Serif", serif;

    --fc-main: #FFFFFF;
    --fc-secondary: #000000;

    --bc-main: #35481C;

    --fw-lighter: 300;
    --fw-normal: 600;
    --fw-bolder: 900;
}

* {
    padding: 0;
    margin: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: var(--ff-main);
}

.container {
    height: 100vh;
    padding: 25px;
}

.sec-main {
    background: url('../images/NEVAGO_HOTEL.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

main {
    background-color: #0E46A3;
}

.sec {
    background-color: white;
}

.main-con {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-serif);
}

.main-intro {
    font-size: 25px;
    text-align: center;
}

.footer {
    background: url('../images/last.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (width >=800px) {
    .main-intro {
        font-size: 95px;
    }

    .main-intro h1 {
        text-transform: uppercase;
    }

    .even-columns {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 5rem;
    }

    .even-columns > div {
        max-width: 800px;
        font-size: 25px;
    }

    .col-foot >  div {
        background-color: var(--fc-main);
        padding: 25px;
    }
}

@media (width <=799px) {
    img {
        max-width: 100%;
    }
}

/* .container {
    height: 100vh;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-main {
    background: url('../images/NEVAGO_HOTEL.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-col {
    text-align: center;
    border: 2px solid white;
}

.main-intro {
    padding: 200px 650px;
    font-size: 35px;
    color: white;
}

.main-intro h1 {
    text-transform: uppercase;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 5rem;
}

.even-columns > div {
    max-width: 450px;
    color: var(--fc-secondary);
    font-size: 25px;
}

.even-columns > div > h2 {
    color: var(--fc-secondary);
}

.footer {
    background: url('../images/last.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foot-col > div{
    background-color: var(--bc-main);
    padding: 25px 20px;
    border-radius: 25px;
    color: var(--fc-main);
    transition: 0.5s ease;
}

.foot-col > div:hover {
    background: #55722e;
    transform: translateY(-5px);
} */

/* @media (width <= 1963px) {
    .even-columns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
} */